
.username {
  list-style: none;

  input[type="checkbox"] {
    transform: scale(2);
    margin: 10px 20px 10px 0px;
  }
  span {
    font-size: 1.3em;
    vertical-align: middle;
  }
}

.submit {
  border-radius: 5px;
  border-width: 0px;
  background:
  cornflowerblue;
  color: white;
  font-size: 1.5em;
  padding: 10px 30px;
  margin: 0px 40px;
}
